@{
    ViewBag.Title = "About " + GlobalVariables.ApplicationTitle;
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="jumbotron" style="margin-top:40px;">
    <h1>ASP.NET MVC5 Web Applications<small></small></h1>
    <p class="lead">Sam's Starter Apps are built using ASP.NET and MVC5. ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p class="lead">All Configuration Settings are well documented. Edit Web.config to set your preferences</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a>&nbsp;&nbsp;
        <a href="~/Content/Project_Readme.html" class="btn btn-primary btn-lg" target="_blank">Project Readme &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            <a class="btn btn-default" href="http://www.asp.net/" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>
            <a class="btn btn-default" href="http://www.nuget.org/" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="http://www.asp.net/hosting" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
</div>