@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="margin-top:40px;">
    <h1>
        @GlobalVariables.ApplicationTitle <small>In 3 Delicious Flavors</small>
    </h1>
    <p class="lead">
        I have created a few MVC5 Starter Web Application solutions to jump start your Web App Devlopment.<br />
        The downloadable solutions where created using Visual Studio 2013 Update 2 using the default ASP.Net Web Application Template and have been customized to include my favorite NuGet Packages.
    </p>
</div>
<div class="featurecolumnswrapper">
    <h1>Sam's Base Starter Web App</h1>
    <div class="row base">
        <div class="col-md-4">
            <div class="well margin-bot-none" style="height:321px;">
                <h2>Solution Features</h2>
                <ul class="fatest">
                    <li>Latest <a href="http://getbootstrap.com/" target="_blank">Bootstrap CSS Framework</a></li>
                    <li>Themeable with your choice of <a href="http://bootswatch.com/" target="_blank">Bootwstach.com Themes</a> <span class="text-muted">via Web.config</span></li>
                    <li>Cool Icons using <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome Iconic CSS Toolkit</a></li>
                    <li>Configurable Admin Account and Admin Role Creation <span class="text-muted">via Web.config</span></li>
                    <li>Configurable Site Title, Company Info and more <span class="text-muted">via Web.config</span></li>
                    <li>Updated to latest <a href="https://www.nuget.org/" target="_blank">NuGet Packages</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well margin-bot-none">
                <h2>The Solution Files</h2>
                <h4>Base MVC5 Default</h4>
                <p>Default MVC5 template uses Email address for both UserName and Email when registering users</p>
                <p><a href="~/Content/SamsAppTemplates/Sams_Base_Web_App-MVC5_Email_Registration.rar">Download Base App - MVC5 Email Registration</a></p>
                <h4>Base MVC5 Modified</h4>
                <p>Modified MVC5 template uses both UserName and Email when registering users</p>
                <p><a href="~/Content/SamsAppTemplates/Sams_Base_Web_App-MVC5_UserName_and_Email%20Registration.rar">Download Base App - MVC5 UserName Registration</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well margin-bot-none" style="height:321px;">
                <h2>Useful Nuget Packages</h2>
                <ul class="facheck">
                    <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a><br />Font Awesome gives you scalable vector icons that can instantly be customized</li>
                    <li><a href="https://fontawesome.codeplex.com/" target="_blank">RazorTools FontAwesome</a><br />Html Helper with intellisense to insert FontAwesome icons</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="featurecolumnswrapper">
    <h1>Sam's Plus Starter Web App</h1>
    <div class="row plus">
        <div class="col-md-4">
            <div class="well margin-bot-none">
                <h2>Solution Features</h2>
                <ul class="facheck">
                    <li>Latest <a href="http://getbootstrap.com/" target="_blank">Bootstrap CSS Framework</a></li>
                    <li>User Selectable Themes from <a href="http://bootswatch.com/" target="_blank">Bootwstach.com themes</a></li>
                    <li>Cool Icons using <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome Iconic CSS Toolkit</a></li>
                    <li>Updated to latest <a href="https://www.nuget.org/" target="_blank">NuGet Packages</a></li>
                    <li>Configurable Admin Account and Admin Role Creation <span class="text-muted">via Web.config</span></li>
                    <li>Configurable Site Title, Company Info and more <span class="text-muted">via Web.config</span></li>
                    <li>CSS and Scripts from CDNs with fallback to local files</li>
                    <li>Optimized CSS and Script Bundles via <a href="http://vswebessentials.com/" target="_blank">Web Essentials</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well margin-bot-none" style="height:389px;">
                <h2>The Solution Files</h2>
                <h4>Plus MVC5 Default</h4>
                <p>Default MVC5 template uses Email address for both UserName and Email when registering sers</p>
                <p><a href="~/Content/SamsAppTemplates/Sams_Plus_Web_App-MVC5_Email_Registration.rar">Download Plus App - MVC5 Email Registration</a></p>
                <h4>Plus MVC5 Modified</h4>
                <p>Modified MVC5 template uses both UserName and Email when registering users</p>
                <p><a href="~/Content/SamsAppTemplates/Sams_Plus_Web_App-MVC5_UserName_and_Email_Registration.rar">Download Plus App - MVC5 UserName Registration</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well margin-bot-none" style="height:389px;">
                <h2>Useful Nuget Packages</h2>
                <ul class="facheck">
                    <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a><br />Font Awesome gives you scalable vector icons that can instantly be customized</li>
                    <li><a href="https://fontawesome.codeplex.com/" target="_blank">RazorTools FontAwesome</a><br />Html Helper with intellisense to insert FontAwesome icons</li>
                    <li><a href="http://aboutcode.net/postal/" target="_blank">Postal</a><br />Strongly typed email models using views</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="featurecolumnswrapper">
    <h1>Sam's Extreme Starter Web App</h1>
    <div class="row exterme">
        <div class="col-md-4">
            <div class="well margin-bot-none test">
                <h2>Solution Features</h2>
                <ul class="facheck">
                    <li>Latest <a href="http://getbootstrap.com/" target="_blank">Bootstrap CSS Framework</a></li>
                    <li>User Selectable Themes from <a href="http://bootswatch.com/" target="_blank">Bootwstach.com themes</a></li>
                    <li>Cool Icons using <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome Iconic CSS Toolkit</a></li>
                    <li>Configurable Admin Account and Admin Role Creation <span class="text-muted">via Web.config</span></li>
                    <li>Updated to latest <a href="https://www.nuget.org/" target="_blank">NuGet Packages</a></li>
                    <li>Configurable Site Title, Company Info and more <span class="text-muted">via Web.config</span></li>
                    <li>CSS and Scripts from CDNs with fallback to local files</li>
                    <li>Optimized CSS and Script Bundles via <a href="http://vswebessentials.com/" target="_blank">Web Essentials</a></li>
                    <li><a href="http://www.olark.com/" target="_blank">Olark Chat</a> and <a href="http://translate.google.com/manager/website/add" target="_blank">Google Translate Support</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well margin-bot-none" style="height:411px;">
                <h2>The Solution Files</h2>
                <h4>Extreme MVC5 Default</h4>
                <p>Default MVC5 template uses Email address for both UserName and Email when registering sers</p>
                <p><a href="~/Content/SamsAppTemplates/Sams_Extreme_Web_App-MVC5_Email_Registration.rar">Download Extreme App - MVC5 Email Registration</a></p>
                <h4>Extreme MVC5 Modified</h4>
                <p>Modified MVC5 template uses both UserName and Email when registering users</p>
                <p><a href="~/Content/SamsAppTemplates/Sams_Extreme_Web_App-MVC5_UserName_and_Email_Registration.rar">Download Extreme App - MVC5 UserName Registration</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well margin-bot-none" style="height:411px;">
                <h2>Useful Nuget Packages</h2>
                <ul class="facheck">
                    <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a><br />Font Awesome gives you scalable vector icons that can instantly be customized</li>
                    <li><a href="https://fontawesome.codeplex.com/" target="_blank">RazorTools FontAwesome</a><br />Html Helper with intellisense to insert FontAwesome icons</li>
                    <li><a href="http://aboutcode.net/postal/" target="_blank">Postal</a><br />Strongly typed email models using views</li>
                    <li><a href="http://www.telerik.com/aspnet-mvc/" target="_blank">Kendo UI For MVC</a><br />Powered by HTML5 and Kendo UI to build rich, responsive ASP.NET MVC apps faster</li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            //alert($('.exterme div.test').outerHeight());
            //App.equalizeHeights('.base div.well', 60);
            //App.equalizeHeights('.plus div.well', 60);
            //App.equalizeHeights('.exterme div.well', 60);
        });
    </script>
}