<?xml version="1.0" encoding="utf-8"?>
<!--  
Descriptiion: This is default MVC Web App with Individual Accounts modified to add a default Admin login. Also LoginsConfig class with Account Helpers (see Global.asx for usage)
Author:       Sam High
Email:        dirtshoot@gmail.com
Date:         07/02/2104
-->
<!--
For more information on how to configure your ASP.NET application, please visit
http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Company.Solution.mdf;Initial Catalog=Company.Solution;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Site Settings -->
    <add key="HeaderText" value="Sam's Starter Apps" />
    <add key="ApplicationTitle" value="Sam's Starter Apps" />
    <add key="CompanyName" value="No Friction Development" />
    <add key="CompanyContactName" value="Sam High" />
    <add key="CompanyContactEmail" value="dirshoot@gmail.com" />
    <add key="CompanyAddress" value="630 S Spruce St" />
    <add key="CompanyCSZ" value="Elizabethtown, PA 17022" />
    <add key="CompanyPhone" value="717-555-1212" />
    <add key="SiteAuthorName" value="Sam High" />
    <add key="SiteAuthorEmail" value="dirshoot@gmail.com" />

    <!-- Set to folder name in \content\themes\ for sites theme -->
    <add key="ThemeName" value="cyborg" />

    <!--  Added Default Admin Login Info Here... 
    This app will alway create and Admin account defined here 
    -->
    <add key="AdminName" value="admin@server.com" />
    <add key="AdminEmail" value="admin@server.com" />
    <add key="AdminPasssword" value="password" />
    <add key="AdminRole" value="Admin" />
    <add key="EmailServiceFromEmail" value="noreply@server.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network" from="myaccount@gmail.com">
      <network enableSsl="true" host="smtp.gmail.com" port="587" userName="myaccount@gmail.com" password="mygmailpassword" />
      </smtp>-->
      <smtp deliveryMethod="Network" from="noreply@server.com">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
  For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

  The following attributes can be set on the <httpRuntime> tag.
  <system.Web>
  <httpRuntime targetFramework="4.5.1" />
  </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="Postal" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
