<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://samsapps.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>samsapps.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>samsapps</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$samsapps</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nl4gsv55ay.database.windows.net,1433;Initial Catalog=samsapps_db;User ID=bidami@nl4gsv55ay;Password=ozric$9@" Name="Data Source=tcp:nl4gsv55ay.database.windows.net,1433;Initial Catalog=samsapps_db;User Id=bidami@nl4gsv55ay;Password=ozric$9@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Company.Solution.Models.ApplicationDbContext, Company.Solution" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nl4gsv55ay.database.windows.net,1433;Initial Catalog=samsapps_db;User Id=bidami@nl4gsv55ay;Password=ozric$9@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>