@model Company.Solution.Models.ForgotPasswordEmail

Content-Type: text/html; charset=utf8

<html>
<body>
    <p style="font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:6px;margin-bottom:20px;">Greetings @Model.UserName</p>
    <p style="font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:6px;margin-bottom:10px;">You have made a requested to reset your <a href="@Url.Action("Index", "Home", null, protocol: Request.Url.Scheme)">Company.com</a> password.<br />Please click the password reset link below to set your login password.</p>
    <p style="font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:6px;margin-bottom:10px;"><a href="@Model.ResetUrl">Reset Your Password</a></p>
</body>
</html>